<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlaatCrypto</title>
    <script src="https://unpkg.com/vue@2.6.12/dist/vue.min.js"></script>
    <style>
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #111;
    color: #fff;
    margin: 16px;
}
a {
    color: #29f;
}

.coin-price {
    transition: color .1s linear;
}

.up {
    color: #0f0;
}

.down {
    color: #f00;
}

.arrow {
    font-weight: 700;
}
    </style>
</head>
<body>
    <div id="app">
        <h1>PlaatCrypto</h1>

        <h2>Coins:</h2>
        <ul>
            <li v-for="coin in sortedCoins" :key="coin.id">
                {{ coin.symbol }} = <coin-price :price="coin.price" :symbol="baseCoin.symbol"></coin-price> |
                <coin-price :price="coin.price / homeCoin.price" :symbol="homeCoin.symbol"></coin-price>
            </li>
        </ul>

        <h2>Holdings:</h2>
        <p>
            Total amount: <coin-price :price="holdingsTotalAmount" :symbol="baseCoin.symbol"></coin-price> |
            <coin-price :price="holdingsTotalAmount / homeCoin.price" :symbol="homeCoin.symbol"></coin-price><br>

            Total commissions: <coin-price :price="commissionsTotalAmount" :symbol="baseCoin.symbol"></coin-price> |
            <coin-price :price="commissionsTotalAmount / homeCoin.price" :symbol="homeCoin.symbol"></coin-price>
        </p>
        <ul>
            <li v-for="holding in sortedHoldings" :key="holding.id" v-if="holding.amount > 0">
                {{ holding.amount.toFixed(4) }} {{ holding._coin.symbol }} = <coin-price :price="holding.amount * holding._coin.price" :symbol="baseCoin.symbol"></coin-price> |
                <coin-price :price="holding.amount * holding._coin.price / homeCoin.price" :symbol="homeCoin.symbol"></coin-price>
            </li>
        </ul>

        <h2>Transactions:</h2>
        <ul>
            <li v-for="transaction in sortedTransactions" :key="transaction.id">
                <span v-if="transaction.type == 'deposit'">
                    <strong>Deposit:</strong> +{{ transaction.toAmount.toFixed(4) }} {{ transaction._toCoin.symbol }}
                </span>

                <span v-if="transaction.type == 'withdraw'">
                    <strong>Withdraw:</strong> -{{ transaction.fromAmount.toFixed(4) }} {{ transaction._fromCoin.symbol }}
                </span>

                <span v-if="transaction.type == 'trade'">
                    <strong>Trade:</strong> {{ transaction.fromAmount.toFixed(4) }} {{ transaction._fromCoin.symbol }} -> {{ transaction.toAmount.toFixed(4) }} {{ transaction._toCoin.symbol }}
                </span>

                <span v-if="transaction.type == 'commission'">
                    <strong>Commission:</strong> -{{ transaction.fromAmount.toFixed(8) }} {{ transaction._fromCoin.symbol }}
                </span>
            </li>
        </ul>

        <p>Made by <a href="https://bastiaan.ml/" target="_blank">Bastiaan van der Plaat</a></p>
    </div>
<script>
Vue.component('coin-price', {
    props: [ 'price', 'symbol' ],

    data: function () {
        return {
            newPrice: 0,
            oldPrice: 0,
            updateTime: Date.now()
        };
    },

    computed: {
        isReady: function () {
            return this.price != null && !isNaN( this.price) &&  this.price != Infinity &&  this.price != 0;
        }
    },

    watch: {
        price: function (newPrice, oldPrice) {
            if (Date.now() - this.updateTime >= 2000) {
                this.newPrice = newPrice;
                this.oldPrice = oldPrice;
                this.updateTime = Date.now();
            }
        }
    },

    template: '<span :class="{ \'coin-price\': true, up: newPrice != 1 && oldPrice < newPrice, down: newPrice != 1 && oldPrice > newPrice }">' +
        '{{ isReady ? (price < 10 ? price.toFixed(4) : price.toFixed(2)) : "?" }} {{ symbol }} ' +
        '<span class="arrow">{{ isReady ? (price != 1 ? (oldPrice < newPrice ? "\u2191" : "\u2193") : "-") : "" }}</span>' +
    '</span>'
});

const app = new Vue({
    el: '#app',
    data: {
        baseCoinId: 1, // USDT
        homeCoinId: 2, // EUR

        commission: {
            percent: 0.00075,
            coinId: 3 // BNB
        },

        coins: [
            { id: 1, symbol: 'USDT', price: 1 },
            { id: 2, symbol: 'EUR', price: null },
            { id: 3, symbol: 'BNB', price: null },
            { id: 4, symbol: 'ADA', price: null },
            { id: 5, symbol: 'BTC', price: null },
            { id: 6, symbol: 'ETH', price: null },
            { id: 7, symbol: 'CAKE', price: null },
            { id: 8, symbol: 'DOGE', price: null },
            { id: 9, symbol: 'DOT', price: null },
            { id: 10, symbol: 'LTC', price: null },
            { id: 11, symbol: 'TRX', price: null }
        ],

        holdings: [],
        transactions: []
    },

    created: function () {
        const self = this;

        // Load transactions
        if (localStorage.getItem('transactions') != null) {
            this.loadTransactions();
        } else {
            self.depositTransaction('USDT', 1000);
            self.depositTransaction('BNB', 1);
        }

        // Connect to Binance WebSocket API
        let streamStrings = [];
        for (let coin of self.coins) {
            if (coin.id != self.baseCoinId) {
                streamStrings.push(coin.symbol.toLowerCase() + self.baseCoin.symbol.toLowerCase() + '@aggTrade');
            }
        }

        const ws = new WebSocket('wss://stream.binance.com:9443/stream?streams=' + streamStrings.join('/'));

        ws.onmessage = function (event) {
            const message = JSON.parse(event.data);
            const symbol = message.stream.replace(self.baseCoin.symbol.toLowerCase() + '@aggTrade', '').toUpperCase();

            // Update coin price
            const coin = self.findCoin(symbol);
            coin.price = parseFloat(message.data.p);
        };

        ws.onclose = function () {
            alert('Binance WebSocket API connection closed!');
        };
    },

    computed: {
        baseCoin: function () {
            return this.findCoin(this.baseCoinId);
        },

        homeCoin: function () {
            return this.findCoin(this.homeCoinId);
        },

        commissionCoin: function () {
            return this.findCoin(this.commission.coinId);
        },

        sortedCoins: function () {
            return this.coins.slice().sort((a, b) => b.price - a.price);
        },

        sortedHoldings: function () {
            return this.holdings.slice().sort((a, b) => b.amount * b._coin.price - a.amount * a._coin.price);
        },

        sortedTransactions: function () {
            return this.transactions.slice().reverse();
        },

        holdingsTotalAmount: function () {
            let totalAmount = 0;
            for (const holding of this.holdings) {
                if (holding._coin.price == null) return null;
                totalAmount += holding.amount * holding._coin.price;
            }
            return totalAmount;
        },

        commissionsTotalAmount: function () {
            let totalCommissionAmount = 0;
            for (const transaction of this.transactions) {
                if (transaction.type == 'commission') {
                    if (transaction._fromCoin.price == null) return null;
                    totalCommissionAmount += transaction.fromAmount * transaction._fromCoin.price;
                }
            }
            return totalCommissionAmount;
        }
    },

    methods: {
        // Helpers
        findCoin: function (coin) {
            if (typeof coin == 'string') {
                return this.coins.find(a => a.symbol == coin);
            }

            if (typeof coin == 'number') {
                return this.coins.find(a => a.id == coin);
            }

            return coin;
        },

        findHolding: function (coinId) {
            return this.holdings.find(holding => holding.coinId == coinId);
        },

        // Load transactions from LocalStorage
        loadTransactions: function () {
            this.transactions = JSON.parse(localStorage.getItem('transactions'));

            // Reconstruct the current holdings from transactions
            for (const transaction of this.transactions) {
                transaction._toCoin = this.findCoin(transaction.toCoinId);
                transaction._fromCoin = this.findCoin(transaction.fromCoinId);

                if (transaction.type == 'deposit') {
                    this.depositHolding(transaction._toCoin, transaction.toAmount);
                }

                if (transaction.type == 'widthdraw') {
                    this.withdrawHolding(transaction._fromCoin, transaction.fromAmount);
                }

                if (transaction.type == 'trade') {
                    this.tradeHolding(transaction._fromCoin, transaction.fromAmount, transaction._toCoin, transaction.toAmount);
                }

                if (transaction.type == 'commission') {
                    this.withdrawHolding(transaction._fromCoin, transaction.fromAmount);
                }
            }
        },

        // Save transactions to LocalStorage
        saveTransactions: function () {
            const transactionsJson = [];
            for (const transaction of this.transactions) {
                transactionsJson.push({
                    id: transaction.id,
                    type: transaction.type,
                    fromCoinId: transaction.fromCoinId,
                    fromAmount: transaction.fromAmount,
                    toCoinId: transaction.toCoinId,
                    toAmount: transaction.toAmount,
                    time: Date.now()
                });
            }
            localStorage.setItem('transactions', JSON.stringify(transactionsJson));
        },

        // Deposit transaction
        depositHolding: function (toCoin, toAmount) {
            const toHolding = this.findHolding(toCoin.id);
            if (toHolding != null) {
                toHolding.amount += toAmount;
            } else {
                this.holdings.push({
                    id: this.holdings.length + 1,
                    _coin: toCoin,
                    coinId: toCoin.id,
                    amount: toAmount
                });
            }
        },

        depositTransaction: function (toCoin, toAmount) {
            toCoin = this.findCoin(toCoin);

            this.depositHolding(toCoin, toAmount);

            this.transactions.push({
                id: this.transactions.length + 1,
                type: 'deposit',

                _fromCoin: null,
                fromCoinId: null,
                fromAmount: null,

                _toCoin: toCoin,
                toCoinId: toCoin.id,
                toAmount: toAmount,

                time: Date.now()
            });

            this.saveTransactions();
        },

        // Withdraw transaction
        withdrawHolding: function (fromCoin, fromAmount) {
            const fromHolding = this.findHolding(fromCoin.id);
            if (fromHolding.amount < fromAmount) {
                alert('Holding has to low amount!');
            }

            fromHolding.amount -= fromAmount;
        },

        withdrawTransaction: function (fromCoin, fromAmount) {
            fromCoin = this.findCoin(fromCoin);

            this.withdrawHolding(fromCoin, fromAmount);

            this.transactions.push({
                id: this.transactions.length + 1,
                type: 'withdraw',

                _fromCoin: fromCoin,
                fromCoinId: fromCoin.id,
                fromAmount: fromAmount,

                _toCoin: null,
                toCoinId: null,
                toAmount: null,

                time: Date.now()
            });

            this.saveTransactions();
        },

        // Trade transaction
        tradeHolding: function (fromCoin, fromAmount, toCoin, toAmount = null) {
            if (toAmount == null) {
                toAmount = fromAmount * fromCoin.price / toCoin.price;
            }

            this.withdrawHolding(fromCoin, fromAmount);
            this.depositHolding(toCoin, toAmount);

            return toAmount;
        },

        tradeTransaction: function (fromCoin, fromAmount, toCoin, toAmount = null) {
            fromCoin = this.findCoin(fromCoin);
            toCoin = this.findCoin(toCoin);

            toAmount = this.tradeHolding(fromCoin, fromAmount, toCoin, toAmount);

            this.transactions.push({
                id: this.transactions.length + 1,
                type: 'trade',

                _fromCoin: fromCoin,
                fromCoinId: fromCoin.id,
                fromAmount: fromAmount,

                _toCoin: toCoin,
                toCoinId: toCoin.id,
                toAmount: toAmount,

                time: Date.now()
            });

            this.commissionTransaction(toCoin, toAmount);
        },

        // Commission transaction
        commissionTransaction: function (coin, amount) {
            coin = this.findCoin(coin);
            const commissionAmount = amount * coin.price * this.commission.percent / this.commissionCoin.price;
            this.withdrawHolding(this.commissionCoin, commissionAmount);

            this.transactions.push({
                id: this.transactions.length + 1,
                type: 'commission',

                _fromCoin: this.commissionCoin,
                fromCoinId: this.commissionCoin.id,
                fromAmount: commissionAmount,

                _toCoin: null,
                toCoinId: null,
                toAmount: null,

                time: Date.now()
            });

            this.saveTransactions();
        }
    }
});
</script>
</body>
</html>
